{% if object.id is null %}

    <p>You must save the object before uploading files.</p>
    
{% else %} 

    <form id="fileupload-{{ fileEntity }}" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>


    <!-- The template to display files available for upload -->
    <script id="{{ fileEntity }}-template-upload" type="text/x-tmpl">
    {% verbatim %}    

        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td>
                    <span class="preview"></span>
                </td>
                <td>
                    <p class="name">{%=file.name%}</p>
                    <strong class="error text-danger"></strong>
                </td>
                <td>
                    <p class="size">Processing...</p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </td>
                <td>
                    {% if (!i && !o.options.autoUpload) { %}
                        <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                        </button>
                    {% } %}
                    {% if (!i) { %}
                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                    {% } %}
                </td>
            </tr>
        {% } %}

    {% endverbatim %}    
    </script>

    <!-- The template to display files available for download -->
    <script id="{{ fileEntity }}-template-download" type="text/x-tmpl">
    {% verbatim %}        
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade" fileid="{%=file.fileid%}">
                <td>
                    <span class="preview">
                        {% if (file.fileid) { %}
                            <a href="#" title="{%=file.name%}" download="{%=file.name%}" data-gallery onClick="editUploadedFile('{%=file.fileEntity%}','{%=file.fileid%}');  return false;"><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.original_name%}" download="{%=file.original_name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.original_name%}</a>
                        {% } else { %}
                            <span>{%=file.original_name%}</span>
                        {% } %}
                    </p>
                    {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>
                    {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                    {% } %}
                </td>
            </tr>
        {% } %}
    {% endverbatim %}        
    </script>
    
    <!-- The template to display files which have already uploaded -->
    <script id="{{ fileEntity }}-template-currentlist" type="text/x-tmpl">
    {% verbatim %}        
        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download" fileid="{%=file.fileid%}">
                <td>
                    <span class="preview">
                        {% if (file.fileid) { %}
                            <a href="#" title="{%=file.name%}" download="{%=file.name%}" data-gallery onClick="editUploadedFile('{%=file.fileEntity%}','{%=file.fileid%}'); return false;"><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.original_name%}" download="{%=file.original_name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.original_name%}</a>
                        {% } else { %}
                            <span>{%=file.original_name%}</span>
                        {% } %}
                    </p>
                    {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=file.size%}</span>
                </td>
                <td>
                    {% if (file.deleteUrl) { %}
                        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                    {% } %}
                </td>
            </tr>
        {% } %}
    {% endverbatim %}        
    </script>    

    <div id="uploadedfile-dialog-editor" style="display:none;" title="Image Element">
        
        <input type="hidden" class="fileEntity" value="{{ fileEntity }}" />
        <input type="hidden" class="fileid" value="" />
        <table>
            <tr>
                <td>{{ fileType }}</td>
                <td><img class="file_path" /></td>
            </tr>
            <tr>
                <td>Heading</td>
                <td><input type="text" class="heading"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea class="desc"></textarea></td>
            </tr>
            <tr>
                <td>Link</td>
                <td><input type="text" class="link"/></td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td class="islivetd"><input type="checkbox" class="islive" checked="checked" value="1"/></td>
            </tr>
            <tr>
                <td colspan="2"><a href="#" onClick="updateUploadedFile(); return false;"></a></td>
            </tr>
        </table>
        
    </div>
    
{% endif %}